<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-col">
        <h3 class="footer-heading">Get Involved</h3>
        <ul class="footer-links">
          <li><a href="https://www.wellingtonalpineclub.org.nz/activities">Join an Adventure</a></li>
          <li><a href="https://www.wellingtonalpineclub.org.nz/learn">Learn a New Skill</a></li>
          <li><a href="https://alpineclub.org.nz/join">Become a Member</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3 class="footer-heading">Follow</h3>
        <ul class="footer-links">
          <li><a href="https://www.instagram.com/nzacwellington/">Instagram</a></li>
          <li><a href="https://www.facebook.com/nzacwellington">Facebook</a></li>
          <li><a href="https://us17.campaign-archive.com/home/?u=a8e8f7d42fa80601c5eed2fbb&id=a9cac7162b">Newsletter</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3 class="footer-heading">NZAC Wellington Section</h3>
        <p class="footer-address">Events at 4 Moncrieff Street, Mount Victoria<br>
        Te Whanganui-a-Tara Wellington 6011<br>
        Aotearoa New Zealand</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Wellington Section, New Zealand Alpine Club &mdash; Trip Reports Archive</p>
      <p class="footer-note">Stories and photos belong to their original authors. Historical archive for club members.</p>
      <a href="https://www.wellingtonalpineclub.org.nz/copyright-and-privacy" class="footer-privacy">Copyright and Privacy</a>
    </div>
  </div>
</footer>
